body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 32px;
}

.everything{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons{
  display: flex;
  gap: 52px;
}
.individualIcons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  align-items: center;
  text-align: center;
}
